<div class="d-flex justify-content-between align-items-center flex-wrap">
  <div class="d-flex align-items-center">
    <span class="mr-3 mb-2">Total Items: {{totalElements}}</span>
    <span class="mb-2">Total Pages: {{totalPages}}</span>
  </div>
  <div class="d-flex align-items-center flex-wrap flex-sm-nowrap">
    <span class="mr-1 text-nowrap mb-2">Items per page:</span>
    <select class="form-control mr-3 mb-2" [(ngModel)]="pageSize"
      (change)="pageChanged({page: 0, itemsPerPage: $event.target.value})">
      <option *ngFor="let item of [5, 10, 20, 30, 50]" [value]="item">{{item}}</option>
    </select>
    <pagination [totalItems]="totalElements" [(ngModel)]="currentPage" [maxSize]="5" (pageChanged)="pageChanged($event)"
      [itemsPerPage]="pageSize" class="mb-2"></pagination>
  </div>
</div>