<div dropdown *ngIf="currentUser">
  <a
    dropdownToggle
    data-toggle="dropdown"
    title="{{ currentUser.email }}"
    class="header-icon d-flex align-items-center justify-content-center ml-2"
  >
    <div [ngClass]="'status status-sm ' + (userStatus == 'ONLINE' ? 'status-success' : 'status-warning')">
      <img
        [src]="userImage ? userImage : 'assets/img/demo/avatars/avatar-m.png'"
        class="profile-image rounded-circle d-block"
        alt="{{ user.name }}"
      />
    </div>
  </a>
  <div *dropdownMenu class="dropdown-menu dropdown-menu-animated-right dropdown-lg">
    <div
      class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top user-header"
      [routerLink]="['/profile']"
    >
      <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
        <span [ngClass]="'status mr-2 ' + (userStatus == 'ONLINE' ? 'status-success' : 'status-warning')">
          <img
            [src]="userImage ? userImage : 'assets/img/demo/avatars/avatar-m.png'"
            class="rounded-circle profile-image"
            alt="{{ currentUser.name }}"
          />
        </span>
        <div class="info-card-text">
          <div class="fs-lg text-truncate text-truncate-lg">{{ currentUser.name }}</div>
          <span class="text-truncate text-truncate-md opacity-80">{{ currentUser.email }}</span>
        </div>
      </div>
    </div>
    <div class="dropdown-divider m-0"></div>

    <div class="dropdown-multilevel dropdown-multilevel-left">
      <div class="dropdown-item" [routerLink]="['/settings']">
        Settings
      </div>
      <div class="dropdown-menu">
        <a [routerLink]="['/settings/integrations']" class="dropdown-item">
          <span>Integrations</span>
        </a>
        <a [routerLink]="['/settings/configuration']" class="dropdown-item">
          <span>Configuration</span>
        </a>
      </div>
    </div>
    <a [routerLink]="['/settings/account']" class="dropdown-item">
      <span>Account</span>
    </a>
    <div class="dropdown-divider m-0"></div>
    <a (click)="fullScreen()" class="dropdown-item" data-action="app-fullscreen">
      <span>Fullscreen</span>
      <i class="float-right text-muted fw-n">F11</i>
    </a>
    <div class="dropdown-divider m-0"></div>
    <a class="dropdown-item fw-500 pt-3 pb-3" (click)="logout()">
      <span>Logout</span>
      <!-- <span class="float-right fw-n">{{user.twitter}}</span> -->
    </a>
  </div>
</div>
